<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<h1>ADD NEW USER</h1>
<label for="name">User name </label><input type="text" id="name" size="25">
<input type="button" id="add_button" value="ADD" onclick="addUser()">
<br>
<label id="response"></label>
</body>
</html>

<script>
    function addUser() {
        let userName = document.getElementById('name').value;

        let body = userName;

        let xhr = new XMLHttpRequest();
        xhr.open('POST', window.location.href + 'adduser', false);
        xhr.send(body);

        document.getElementById("response").innerText = xhr.response;
    }
</script>